h1 {
  /* color: red; */
}
h1,
h2,
h3,
h4,
h5,
span,
body {
  margin: 0;
  font-family: "Inknut Antiqua", serif;
  line-height: 1.3;
  text-wrap: wrap;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
p {
  font-size: 12px;
}
.text-big {
  font-size: 32px;
}
.text-bigger {
  font-size: 64px;
}
.text-marron {
  color: #754e1c;
}
.text-gold {
  color: #b97a1a;
}
.text-gold-light {
  color: #fb7e0a;
}
.text-white {
  color: #fff;
}
.text-gradiente {
  background: -webkit-linear-gradient(#fe9b04, #f6b60f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradiente-dark {
  background: -webkit-linear-gradient(#754e1c, #bd741e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-bold {
  font-weight: 700;
}
.text-semibold {
  font-weight: 500;
}
.text-regular {
  font-weight: 400;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.pd-top16 {
  padding-top: 16px;
}
.pd-top45 {
  padding-top: 45px;
}
.pd-bottom16 {
  padding-bottom: 16px;
}
.pd-bottom24 {
  padding-bottom: 24px;
}
.display-grid {
  display: grid;
}
.link-content {
  display: flex;
}
/* ////////////////////////////////section head ////////////////////////////////////*/
.dara-head {
  height: 100%;

  .img-dara-s1 {
    height: 100%;
  }
}
.section-head {
  display: flex;
  background-color: #fff;
  background-image: url("../img/bg_s1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}
.head-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1040px;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
}
.info-area {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 77px;
  gap: 16px;
}
.link-degrade {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 28px;
  border-radius: 12px;
  display: block;
  width: max-content;
  text-transform: uppercase;
  background-image: linear-gradient(
    to bottom,
    #fe9b04,
    #fca203,
    #faa905,
    #f8af09,
    #f6b60f
  );
}
.img-dara-s1 {
  width: 100%;
  object-fit: cover;
}
/* //////////////////////////////////////////////////////// section-steps /////////////////////// */
.section-steps {
  display: flex;
  background-color: #fff;
  background-image: url("../img/bg_s2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 58px;
  padding-left: 24px;
  padding-right: 24px;
}
.area-steps {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  padding-top: 46px;
}
.lista-steps {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 180px);
  margin: 0 auto;
  padding: 0px;
  gap: 20px;
}
.steps-iten {
  border-radius: 26px;
  padding: 27px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 4px 7.1px 0px rgba(101, 77, 47, 0.65);
  background-image: linear-gradient(to bottom, #754e1c, #bd741e);
}
/* ///////////////////////////////////////////////////////  section magic ////////////////////////   */
.magic-gold {
  display: flex;
  flex-direction: column;
}
.section-magic {
  display: flex;
  background-color: #fff;
  background-image: url("../img/bg_s3_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 159px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
}
.magic-info {
  max-width: 1366px;
  overflow: hidden;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 470px 500px;
}
.info-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  align-items: start;
  height: max-content;
}
.img-content {
  display: flex;
  overflow: hidden;
}
.img-roda {
  width: 100%;
  height: 483px;
  object-fit: cover;
  scale: 1.5;
}

/*    ///////////////////////////////  section gold   //////////// */
.section-gold {
  display: flex;
  background-color: #fff;
  background-image: url("../img/bg_s3_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 159px;
  padding-bottom: 55px;
  padding-left: 24px;
  padding-right: 24px;
}
.gold-info {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.lista-gold {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 211px);
  gap: 16px;
  padding-left: 0px;
  margin: 0 auto;
  > li {
    border-radius: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  > li.gold-iten1 {
    background-image: url("../img/gold1.png");
  }
  > li.gold-iten2 {
    background-image: url("../img/gold2.png");
  }
  > li.gold-iten3 {
    background-image: url("../img/gold3.png");
  }
  > li.gold-iten4 {
    background-image: url("../img/gold4.png");
  }
}
.gold-iten {
  height: 326px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: flex-end; */
  justify-content: space-between;

  gap: 8px;
  border-radius: 18px;
}
.gold-info-top {
  width: 24px;
  margin: 0 auto;
  padding: 6px;
  padding-top: 13px;
  margin-top: 3px;
  border-radius: 0px 0px 20px 20px;
  background-image: linear-gradient(
    to bottom,
    #b97a1a,
    #c47d18,
    #cf8015,
    #db8313,
    #e78512
  );
  > img {
    margin-top: auto;
  }
}
.gold-iten-data {
  background-color: #754e1c;
  width: calc(100% - 8px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  border-radius: 0 0 14px 14px;
  margin: 0 auto;
  position: relative;
}
.gold-iten-data::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 100%;
  height: 8px;
  background-image: linear-gradient(to bottom, #fe9b04, #f6b60f);
}
.gold-icon {
  height: 16px;
  object-fit: contain;
}
/* /////////////////////////////////   section-price////////////////   */
.section-price {
  background-color: #fff;
  background-image: url("../img/bg_s4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 16px;
}
.price-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  max-width: 650px;
  margin: 0 auto;
}
.price-card {
  height: max-content;
  border-radius: 26px;
  padding: 46px 20px 52px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: start;
  background-image: linear-gradient(to bottom, #fe9b04, #f6b60f);
}
.logo-price {
  display: flex;
  margin: 0 auto;
}
.lista-price-content {
  display: flex;
  width: max-content;
  margin: 0 auto;
}
.lista-price {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.lista-price-iten {
  position: relative;
  padding-left: 21px;
}
.lista-price-iten::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 17px;
  height: 14px;
  background-color: transparent;
  background-image: url("../img/check\ 01.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.link-price {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 28px;
  border-radius: 12px;
  display: block;
  width: max-content;
  text-transform: uppercase;
  background-color: #fb7e0a;
  border: 1px solid #f8f1e3;
  margin: 0 auto;
}
.price-real {
  display: flex;
  width: max-content;
  margin: 0 auto;
}
.price-real span:first-child {
  display: flex;
  padding-top: 20px;
}
.price-real span:last-child {
  display: flex;
  align-self: flex-end;
}
/* lista ventagens */
.vantagens {
  gap: 16px;
}
.lista-vantagens-content {
  display: flex;
  width: max-content;
}
.lista-vantagens {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
}
.lista-vantagens-iten {
  position: relative;
  padding-left: 21px;
  > p {
    display: flex;
    margin: 0px;
  }
}
.lista-vantagens-iten::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 17px;
  height: 14px;
  background-color: transparent;
  background-image: url("../img/check02.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.lista-vantagens-iten:last-child::before {
  display: none;
}
.dara-bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1060px;
  margin: 0 auto;
}
.img-dara-content {
  display: flex;
}
.dara-info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  height: max-content;
  gap: 16px;
  padding-top: 148px;
}
.dara-info h4 {
  display: flex;
  flex-wrap: wrap;
}
.link-instagram {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 6px 24px;
  border-radius: 100px;
  display: block;
  width: max-content;
  padding-left: 50px;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    #fe9b04,
    #fca203,
    #faa905,
    #f8af09,
    #f6b60f
  );
}
.link-instagram::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-image: url("../img/insta.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 18px;
  top: 7px;
}
/* ///////////////////////////////////   section-contact //////////////  */
.section-contact {
  height: 238px;
  background-color: transparent;
  background-image: url("../img/bg_s5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-contact {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 28px;
  border-radius: 12px;
  display: block;
  width: max-content;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #754e1c, #bd741e);
}
.contact-content {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
